version: "3.9"

services:
  nginx:
     image: nginx:latest
     container_name: nginx-conatiner
     ports:
       - "80:80"
     depends_on:
       - backend
     volumes:
        - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
     networks:
        - app-network

  backend:
     build: .
     image: flask-image
     container_name: flask-backend
     restart: always
     environment:
         FLASK_ENV: production
         DB_HOST: mysql
         DB_USER: root
         DB_PASSWORD: rootpassword
         DB_NAME: flaskdb
     depends_on:
       - mysql
     networks:
       - app-network

  mysql:
      image: mysql:8.0
      container_name: mysql-db
      restart: always
      environment:
          MYSQL_ROOT_PASSWORD: rootpassword
          MYSQL_DATABASE: flaskdb
      ports:
          - "3306:3306"
      volumes:
          - mysql-data:/var/lib/mysql
      networks:
          - app-network

volumes:
   mysql-data:
networks:
   app-network:
